@model Final10._14.Models.TOrder

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TOrder</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FMemberId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FMemberId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FTotalHelpPoint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FTotalHelpPoint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FOrderTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FOrderTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FExecStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FExecStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FBeginTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FBeginTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FFinishTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FFinishTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FProof)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FProof)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FOrderId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
