@model Final10._14.Models.TOrder

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TOrder</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FMemberId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FMemberId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FTotalHelpPoint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FTotalHelpPoint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FOrderTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FOrderTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FExecStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FExecStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FBeginTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FBeginTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FFinishTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FFinishTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FProof)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FProof)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FOrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
