@model IEnumerable<Final10._14.Models.TOrder>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FMemberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FTotalHelpPoint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FOrderTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FExecStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FBeginTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FFinishTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FProof)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FMemberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FTotalHelpPoint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FOrderTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FExecStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FBeginTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FFinishTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FProof)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FOrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FOrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FOrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
