@model Final10._14.Models.TSponsor

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TSponsor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FSponsorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FSponsorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FSponsorCategoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FSponsorCategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FCapital)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FCapital)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FIntroduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FIntroduction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FStatus)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FSponsorId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
