@model IEnumerable<Final10._14.Models.TSponsor>

@{
    ViewData["Title"] = "Index";
}

<h1>贊助商管理</h1>

<p>
    <a asp-action="Create">新增贊助商</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                贊助商名稱
            </th>
            <th>
                贊助商類別
            </th>
            <th>
                地址
            </th>
            <th>
                電話
            </th>
            <th>
                資本額
            </th>
            <th>
                介紹
            </th>
            <th>
                合作狀態
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FSponsorName)
                </td>

                <td>
                    @{
                        string categoryText = item.FSponsorCategoryId switch
                        {
                            1 => "環保議題",
                            2 => "動物救助",
                            3 => "弱勢關懷",
                            4 => "宗教迫害",
                            5 => "人權守護",
                            _ => "未知類別"
                        };
                    }
                    @categoryText
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FPhone)
                </td>
                <td>
                    @{
                        var capitalInTenThousands = Math.Floor(item.FCapital.GetValueOrDefault() / 10000m);
                    }
                    @capitalInTenThousands 萬元
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FIntroduction)
                </td>
                <td>
                    @{
                        var statusText = item.FStatus == 1 ? "合作中" : item.FStatus == 2 ? "關閉" : "未知狀態";
                    }
                    @statusText
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.FSponsorId">編輯</a> |
                    <a asp-action="Details" asp-route-id="@item.FSponsorId">內容</a> |
                    <a asp-action="Delete" asp-route-id="@item.FSponsorId">刪除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
