@model IEnumerable<WandK.Model.CMatch>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "List";
}

<h1>媒合表單</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fHelpId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fMemberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fPoint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fMatchStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fGrade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fMessage)
            </th>
            <th></th>
        </tr>
    </thead>
    @*  <tbody>
    @foreach (var item in Model)
    {
    <tr>
    <td>
    @Html.DisplayFor(modelItem => item.fHelpId)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.fMemberId)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.fPoint)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.fMatchStatus)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.fGrade)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.fMessage)
    </td>
    <td>
    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
    </tr>
    }
    </tbody> *@
</table>
