@model IEnumerable<Final10._14.Models.TMatch>

@{
    ViewData["Title"] = "List";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">媒合清單</h1>
    
    <div class="d-flex align-items-center">
        <p class="mb-0 ml-3">
            <a asp-action="Create" class="btn btn-info">手動新增</a>
        </p>
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                @using (Html.BeginForm())
                {
                    <div class="input-group">
                        
                        @Html.TextBox("txtKeyword", null, new { @class = "form-control bg-white border-2 small", placeholder = "請輸入關鍵字" })
                        
                    </div>
                }

                
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>
       
    </div>
    <br />


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">已媒合資料表</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th> 序</th>
                            <th>@Html.DisplayNameFor(model => model.FHelpId)</th>
                            <th>@Html.DisplayNameFor(model => model.FMemberId)</th>
                            <th>@Html.DisplayNameFor(model => model.FMatchDateTime)</th>
                            <th>@Html.DisplayNameFor(model => model.FPoint)</th>
                            <th>@Html.DisplayNameFor(model => model.FMatchStatus)</th>
                            <th>@Html.DisplayNameFor(model => model.FGrade)</th>
                            <th>@Html.DisplayNameFor(model => model.FGradeDateTime)</th>
                            <th>@Html.DisplayNameFor(model => model.FMessage)</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th> 序</th>
                            <th>@Html.DisplayNameFor(model => model.FHelpId)</th>
                            <th>@Html.DisplayNameFor(model => model.FMemberId)</th>
                            <th>@Html.DisplayNameFor(model => model.FMatchDateTime)</th>
                            <th>@Html.DisplayNameFor(model => model.FPoint)</th>
                            <th>@Html.DisplayNameFor(model => model.FMatchStatus)</th>
                            <th>@Html.DisplayNameFor(model => model.FGrade)</th>
                            <th>@Html.DisplayNameFor(model => model.FGradeDateTime)</th>
                            <th>@Html.DisplayNameFor(model => model.FMessage)</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @{
                            int count = 0;
                            foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <td>@count</td>
                                    <td>@Html.DisplayFor(modelItem => item.FHelpId)</td>
                                    <td>@Html.DisplayFor(modelItem => item.FMemberId)</td>
                                    <td>@Html.DisplayFor(modelItem => item.FMatchDateTime)</td>
                                    <td>@Html.DisplayFor(modelItem => item.FPoint)</td>
                                    <td>@Html.DisplayFor(modelItem => item.FMatchStatus)</td>
                                    <td>@Html.DisplayFor(modelItem => item.FGrade)</td>
                                    <td>@Html.DisplayFor(modelItem => item.FGradeDateTime)</td>
                                    <td>@Html.DisplayFor(modelItem => item.FMessage)</td>
                                    <td>
                                        @Html.ActionLink("修改", "Edit", new { id = item.FMatchId }, new { @class = "btn btn-info " })
                                       
                                    </td>
                                    <td>
                                        @Html.ActionLink("刪除", "Delete", new { id = item.FMatchId },
                                             new { @class = "btn btn-info btn-danger ", onclick = "return confirm('確定要刪除嗎')" })
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

